<% content_for :head do %>
	<style type="text/css">
	.display-info {
		display:block;
		padding:10px;
		background-color:#fff;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
		color:#000;
		text-align:center;
		text-decoration:none;
	}
		.display-info>._title {
			font-size:16px;
			font-weight:bold;
		}
	</style>
<% end %>

<h2>Displays</h2>

<div class="span-8">
	<a href="/displays/wiggle/" class="display-info">
		<img src="/displays/wiggle/screenshot.jpg" width="240" height="180" title="Wiggle" /><br/>
		<span class="_title">Wiggle</span>
	</a>
</div>

<hr class="space" />

<h2>Admin</h2>

<ul>
	<li><%= link_to "People List", people_path %></li>
	<li><%= link_to "API Documentation", api_path %></li>
</ul>