<h2>Displays</h2>

<p>
	Displays created using the HCII Bulletin Board API appears here.
</p>

<h2>Admin</h2>

<ul>
	<li><%= link_to "People List", people_path %></li>
	<li><%= link_to "API Documentation", api_path %></li>
</ul>