<h2>Apps</h2>

<p>
	List of apps created using the HCII Bulletin Board API appears here.
</p>

<h2>Admin</h2>

<ul>
	<li><%= link_to "Manage list of people", people_path %></li>
	<li><%= link_to "Using the API", api_path %></li>
</ul>